body {
  background: #0d0c1d;
  color: rgb(45, 45, 45);
  padding: 10px;
  font-family: arial;
}
#all-contents {
max-width: 800px;
  margin: auto;
}

/* navigation menu */
nav {
  background: #ff3cc7;
 margin-bottom: 20px;
  display: flex;
  padding: 10px;
}
h1 {
  display: flex;
  align-items: center;
  color: #ff3cc7;
  flex: 1;
  margin: 0;
}
#nav-ul {
  list-style-image: none;
}
.nav-li {
  display: inline-block;
  padding:  0px;
  text-align: right;
}
.nav-a {
  display: inline-block;
  padding:  0px;
  text-align: right;
}
a {
  text-decoration: none;
  color: #fff;
}

/* main container area beneath menu */
main {
  background: #f0e7d8;
  display: flex;
  
}
.sidebar {
  margin-right: 20px;
  padding: 10px;
}
.sidebar-img {
  width: 200px;
  align-self: safe;
  border: 2px solid #ff3cc7;
  animation: scrombingle 10s infinite;
}
@keyframes scrombingle {
  10% {border-color: purple;}
  20% {border-color: #7e1f63;}
  30% {border-color: blueviolet;}
}
.content {
  flex: 1;
  padding: 15px;
git 
}

         /* portfolio styles */
         .content h1 {
          color: black;
      }

      #portfolio {
          list-style-type: none;
          padding-left: 0;
      }

      #portfolio li {
          background: #fff;
          padding: 10px;
          border-radius: 10px;
          margin-bottom: 10px;
      }

      #portfolio li:hover {
          background: #eee;
      }

      #portfolio a {
          text-decoration: none;
          color: #454545;
      }