body {
  margin: 0px;
}

canvas {
  background-image:url(https://starwalk.space/gallery/images/what-is-space/1920x1080.jpg)
}

img {
  display: none;
}
section:createPlatform() {
  color: darkorchid;
}